<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin - NFL Players</title>
  </head>
  <body>
    <h1>Fanatsy Football Admin Page</h1>


    <form action="/clear" method="post">
      <p>Clear Database:</p>
        <button class="btn btn-danger" type="submit">Clear!</button>
    </form>
    <form action="/refresh" method="post">
      <p>Refresh Database:</p>
        <button class="btn btn-primary" type="submit">Go!</button>
    </form>
  </body>
</html>
