<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>NFL Players</title>
  </head>
  <body>
    <div class="index">
    <div class="container">
      <a href='/admin'><button type='button' class='btn btn-primary'>Admin Page</button></a><p>Logged in as: {{ user.getName }}</p><a href='/logout'><button type='button' class='btn btn-primary'>Logout</button></a>
      <div class="jumbotron">
        <h1>Fantasy Football</h1>
      </div>
      <nav class="navbar navbar-dark indexNB">
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item">
            <h2>Top 15 Performers</h2>
          </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="/qb">Quarterback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rb">Running Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wr">Wide Receiver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/te">Tight End</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/k">Kicker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/def">Defense</a>
            </li>
          </ul>
      </nav>
      <div class='fantasy'>
        <h3>Fantasy League</h3>
        {% if teams is not empty %}
          <h4>Fantasy Teams</h3>
          <ul>
            {% for team in teams %}
              <li><a href='/team/{{ team.getId }}'>{{ team.getTeam }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
        <form action='/create_team' method='post'>
          <h4>Create a Team</h4>
          <label for='team'>Team Name:</label>
          <input type='text' name='team' id='team'>
          <label for='owner'>Your Name:</label>
          <input type='text' name='owner' id='owner'>
          <button class='btn btn-success' type='submit'>Create!</button>
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
