<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <title>NFL Players</title>
  </head>
  <body>
    <a href='/admin'><button type='button' class='btn btn-primary'>Admin Page</button></a>
    <h1>Fanatsy Football Top Performers</h1>
    <h3>Select by Position</h3>
    <h3>Quarterback</h3>
    <form action="/qb" method="get">
        <button class="btn btn-success" type="submit">QB</button>
    </form>
    <h3>Running Back</h3>
    <form action="/rb" method="get">
        <button class="btn btn-success" type="submit">RB</button>
    </form>
    <h3>Wide Receiver</h3>
    <form action="/wr" method="get">
        <button class="btn btn-success" type="submit">WR</button>
    </form>
    <h3>Tight End</h3>
    <form action="/te" method="get">
        <button class="btn btn-success" type="submit">TE</button>
    </form>
    <h3>Kicker</h3>
    <form action="/k" method="get">
        <button class="btn btn-success" type="submit">K</button>
    </form>
  </body>
</html>
