<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>NFL Players</title>
  </head>
  <body class="index">
    <div class="container">
      <a href='/admin'><button type='button' class='btn btn-primary'>Admin Page</button></a>
      <div class="jumbotron">
        <h1>Fantasy Football</h1>
      </div>
      <nav class="navbar navbar-dark indexNB">
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item">
            <h2>Top 15 Performers</h2>
          </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="/qb">Quarterback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rb">Running Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wr">Wide Receiver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/te">Tight End</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/k">Kicker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/def">Defense</a>
            </li>
          </ul>
      </nav>
      <div class="row">
        <div class="col-md-5 well fantasy">
        <h1>Fantasy League</h1>
        <form action='/login' method='post'>
          <h2>Log in</h2>
          <label for='user'>Username:</label>
          <input type='text' name='user' id='user'>
          <label for='password'>Your Password:</label>
          <input type='password' name='password' id='password'>
          <button class='btn btn-success' type='submit'>Log In!</button>
        </form>
        <form action='/newuser' method='post'>
          <h2>Create new User</h2>
          <label for='user'>Username:</label>
          <input type='text' name='user' id='user'>
          <label for='password'>Your Password:</label>
          <input type='password' name='password' id='password'>
          <button class='btn btn-success' type='submit'>Create!</button>
        </form>
      </div>
      <div class="col-md-6 logo">
        <img src="/img/nfllogo.jpg"/>
         </div>
      </div>
    </div>
  </body>
</html>
