@font-face {
  font-family: redzone;
  src: url("../font/redzone.ttf");
}


html, body, div.grass, div.index {
  height:100%;
}

.logo {
  background-image: url("../img/nfllogo.jpg");
}

.index {
  background-image: url("../img/stadium.jpg");
  background-size: cover;
}

.indexNB {
  background-color: #229912;
  border-color: #ba091a;
}

.grass {
  background-image: url("../img/grass.jpg");
  background-size: cover;
}

  .jumbotron {
  text-align: center;
  background-image: url("../img/cowboys-stadium.jpg");
  background-size: cover;
  font-family: redzone;
  color: blue;
  text-shadow: 2px 2px #ba091a;
}

.dropdown {
  float: right;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    display: inline;
}

.navbar-custom {
    background-color: #229912;
    border-color: #ba091a;
}

.navbar.navbar-default.navbar-custom a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px red;
  font-family: impact;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #229912;
}

.navbar-nav > li a:hover{
    background-color: #4cd13a;
}

.nav-item {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px red;
  font-family: impact;
}

h2 {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px red;
  font-family: impact;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #229912}

th {
    background-color: #229912;
    color: white;
}

nav {
  padding: 15px;
}
